html {
    font-family:Verdana,Geneva,sans-serif;
    margin:0 auto
}

.balloon {
        position: absolute;
	height: 100%;
	width: 22%;
	top: 100%;
        margin-left: -25%;
	animation-name: balloonAnim;
	animation-duration: 14s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: normal;
	animation-delay: 0.5s;
}

article figure {
    display:none
}

.logic{
    width: 25%;
}



.active {
    background-color:#CFF0FF;
    color:#405159!important;
    cursor:pointer;
    -webkit-box-shadow:0 -1px 1px 0 #bbb;
    box-shadow:0 -1px 1px 0 #bbb
}

article img {
    width:100%
}

body::-webkit-scrollbar {
    width:15px
}

body::-webkit-scrollbar * {
    background:transparent
}

body::-webkit-scrollbar-thumb {
    background:#405159!important
}

.error {
    background-color:red;
    color:red
}

.grouping h1,.grouping2 h1,.grouping3 h1,.grouping4 h1 {
    margin:0
}

iframe {
    background-color:#CFF0FF
}

.iframers{
    background-color: transparent;
}

.line_drive {
    width:100%;
    background-color:#405159;
    -webkit-box-shadow:0 1px 3px 0 #bbb;
    box-shadow:0 1px 3px 0 #bbb;
    height:40px;
    position:static;
    z-index:1
}

.line_drive2 {
    width:100%;
    background-color:#405159;
    -webkit-box-shadow:0 1px 3px 0 #bbb;
    box-shadow:0 1px 3px 0 #bbb;
    height:40px;
    position:fixed;
    width:100%;
    top:0;
    z-index:1
}

.navbox {
    margin:0 auto;
    position:absolute
}

.navbox ul li {
    display:inline-block;
    text-align:center;
    float:left;
    font-weight:700
}

.navbox ul li a {
    text-decoration:none
}

.navbox ul li a:hover {
    background-color:#CFF0FF;
    color:#405159;
    cursor:pointer;
    -webkit-box-shadow:0 -1px 1px 0 #bbb;
    box-shadow:0 -1px 1px 0 #bbb
}

.plus2 {
    display:none
}

.real_mobile_space {
    display:none!important
}

.school {
    margin:0 auto
}

.space {
    clear:both
}

.spacing {
    height:30px;
    clear:both
}

.spacing_contact {
    height:30px;
    clear:both
}

.spacing_big {
    height:100px;
    clear:both
}

.spacing_special {
    height:15px;
    clear:both;
    background-color:#528494
}

/******************************************/
/*************FancyBox Iframe**************/
/******************************************/

.fancybox-inner {
    height:400px!important
}

.fancybox-skin {
    border:solid 5px #405159!important;
    padding:0!important
}

.peeps {
    width:100%;
    height:100%;
    background-color:#fffd88;
    border-radius:50%;
    border:solid 10px #405159
}

.person {
    height:auto;
    float:left
}

.person h1 {
    margin-left:25px
}

.person figcaption {
    text-align:center;
    font-size:15%
}

.person figure figcaption {
    text-align:center;
    font-size: 120%;
    font-weight:700
}

.personT {
    margin-left:-46%;
    width:44%;
    height:auto
}

.personT img {
    width:100%
}

.corps_1,.corps_2 {
    background-color:#528494;
    float:left
}

.corps_1 img,.corps_2 img {
    width: 100%;
    /* margin-left:10%; */
    /* margin-right:10%; */
    float:left
}

.listed_table {
    margin:0 auto;
    width:100%;
    margin-top:120px;
    text-align:center
}

.grouping5 h1 {
    font-weight:700;
    text-align:center;
    color:#cff0ff;
    margin:0;
    background-color:#528494
}

.dressup {
    width:60%;
    margin:0 auto
}

.grouping5 {
    width:100%;
    margin:0 auto;
    background-color:#528494;
    font-family:Verdana,Geneva,sans-serif
}

/******************************************/
/******************Process*****************/
/******************************************/
.grouping2 {
    width:100%;
    margin:0 auto;
    background-color:#405159
}

.grouping2 h1 {
    font-weight:700;
    text-align:center;
    color:#CFF0FF
}

.layer_1,.layer_2 {
    margin: 0 auto;
}

.plus {
    font-size:340%;
    color:#fffd88;
    font-weight:700;
    float:left;
    text-align:center;
    /* margin-top:5%
 */}

.steps_3 {
    margin-right:auto;
    margin:0 auto;
    float:left
}

.steps_3 img {
    width:100%;
    margin:0 auto;
    float:left
}

.steps_3 figcaption {
    color:#fffd88;
    font-size: 150%;
    text-align:center;
    font-weight:700
}

/******************************************/
/****************Contact Us****************/
/******************************************/
.categories {
    background-color:#405159!important;
    color:#fff;
    font-weight:700;
    padding:1%
}

.form_submitter {
    width:30%;
    float:left
}

.form_submitter input {
    background-color:#fffd88;
    padding:5px;
    padding-left:20px;
    border:solid 5px #CFF0FF;
    color:#405159;
    font-weight:700
}

.form_submitter {
    width:100%;
    float:left;
    margin:0 auto
}

.form_sub {
    border:solid 5px #405159;
    background-color:#CFF0FF;
    font-weight:700;
    margin-left: 80%;
}

.emails_space {
    width:10%;
    float:left;
    color:#405159
}

.real {
    width:50%;
    -webkit-box-shadow:0 1px 3px 0 #bbb;
    box-shadow:0 1px 3px 0 #bbb;
    background-color:#fffd88;
    margin:0 auto
}

.real li {
    list-style:none;
    display:inline;
    float:left;
    padding:1%;
    background-color:#fffd88;
    font-weight:700
}

.real2 {
    -webkit-box-shadow:0 1px 3px 0 #bbb;
    box-shadow:0 1px 3px 0 #bbb;
    background-color:#fffd88;
    margin:0 auto
}

.real2 li {
    list-style:none;
    display:inline;
    float:left;
    text-align:left;
    background-color:#fffd88;
    font-weight:700
}

.real2 li input {
    background-color:#CFF0FF;
    padding:5px;
    padding-left:20px
}

.textarea {
    margin:0;
    width:100%;
    height: 244px;
    padding-left:20px;
    padding-top:5px;
    background-color:#cff0ff
}

/******************************************/
/***************The Footer*****************/
/******************************************/

.contact_info_mini {
    width:100%;
    color:#405159;
    font-weight:700;
    font-size:115%;
    text-align:center
}

.footer_drive {
    width:100%;
    background-color:#fffd88;
    -webkit-box-shadow:0 1px 3px 0 #bbb;
    box-shadow:0 1px 3px 0 #bbb
}

.footer_socials {
    float:left;
    width: 20%;}

.footer_socials figure {
    width:100%
}

.footer_socials figure img {
    width:100%
}

.grouping4 {
    width: 90%;
    margin:0 auto;
    background-color:#fffd88
}

/******************************************/
/*************Multiple Sections************/
/******************************************/

.grouping,.grouping3 {
    width:100%;
    margin:0 auto;
    background-color:#b5eff7
}

.grouping h1,.grouping3 h1 {
    font-weight:700;
    font-size: 370%;
    text-align:center;
    color:#405159
}

.text2 {
    display:inline-block;
    width:100%;
    border:solid 2px #405159;
    font-size:15px
}








/********************************************************************/
/********************************************************************/
@media only screen and (min-width: 800px) and (max-width: 1023px){/**/
    
    html{
        min-width: 800px;
        max-width: 1023px;
    }

    /******************************************/
    /*************Parallax Section*************/
    /******************************************/
    
    article figure {
        display:block;
        width: 400px;
    }
    
    article figcaption {
        font-size:50%;
        font-weight:700;
        color:#405159;
        text-align:center
    }

    #home {
	background-image: url('images/splash.jpg');
        min-height:768px;
        height:768px;
        margin:0 auto;
        background-size:100%;
        width:100%;
        max-width:1920px;
        position:relative
    }

    
    /******************************************/
    /******************My Team*****************/
    /******************************************/
    
    .person {
        width:23%;
        margin-left:7%;
        margin-right:2%
    }

    .school {
        margin:0 auto;
        width:90%
    }

    /******************************************/
    /****************What We Do****************/
    /******************************************/
    .corps_1, .corps_2{
        width:100%;
    }
    
    .grouping5 h1 {
        font-size:400%;
    }
   
    /******************************************/
    /******************Process*****************/
    /******************************************/
    
    .grouping2 h1 {
        font-size:400%;
    }
    
    .layer1, .layer2 {
        width:auto;
        margin: 0 auto;
    }
    
    .plus {
        margin-top: 0%;
        /* margin-left: 50%; */
        width: 100%;
}
    
    .plus2 {
        display:block;
        color:#fffd88;
        font-size:340%;
        font-weight:700;
        float:left;
        width:100%;
        text-align:center;
        margin-top:5%
    }
    
    .plusle {
        width:100%!important;
        margin-top:5%!important
    }
    
    .stepper {
        width:100%!important
    }
    
    .steps_3 {
        width:100%;
    }
    
    .steps_3 figure {
        width:24%;
        margin-left:38%;
        margin-right:38%;
        float:left
    }

    /******************************************/
    /***************Contact Us*****************/
    /******************************************/
    .categories {
        width:100%;
        font-size:100%!important;
    }

    .form_submitter {
        width:20%;
        float:left;
        margin:0 auto
    ;
        margin-left: 80%;
}
    
    .form_sub {
        width:100%;
        height: 70px; 
        color:#405159;
        margin-top: 10%;
        margin-left:auto;
        margin-right:auto;
        font-size:170%;
    }
    
    .info_split {
        width: 100%;
        float:left
    }
    
    .info_splitters_c {
        padding:0!important;
        float:right!important
    }
    
    .real {
        height:55px;
    }
    
    .real li {
        font-size:100%;
        width:100%;
        text-align:center
    }
    
    .real2 {
        width:100%;
    }
    
    .real2 li {
        padding:2%;
        padding-left:5%;
        padding-right:5%;
        font-size:120%
    }

    .li_textarea{
        width: 96%
    }
    
    /******************************************/
    /***************Email Monkey***************/
    /******************************************/
    .emails {
        width:100%;
        float:left
    }
    
    .emails input {
        background-color:#fffd88;
        padding:5px;
        padding-left:10px;
        border:solid 5px #fffd88;
        color:#405159;
        font-weight:700
    }
    
    .emails_button {
        width:100%;
        float:left
    }
    
    .email_sub {
        width:100%;
        border:solid 5px #CFF0FF;
        background-color:#CFF0FF;
        color:#405159;
        padding:6px;
        font-weight:700
    }
    
    .emails_space {
        width:10%;
        float:left;
        color:#405159
    }
    
    .news {
        width:40%;
        margin:0 auto
    }
    
    .mail_monkey {
        margin:0 auto;
        width:100%;
        background-color:#405159
    }
    
    .mail_monkey h1 {
        text-align:center;
        font-weight:700;
        font-size:200%;
        color:#CFF0FF;
        margin:0
    }

    /******************************************/
    /****************The Footer****************/
    /******************************************/

    .social_space {
        width: 70%;
        margin:0 auto
    }
}




/********************************************************************/
/********************************************************************/
@media only screen and (max-width: 532px){/**/
    


    /******************************************/
    /*************Parallax Section*************/
    /******************************************/
    
    article figure {
        display:block;
        width: 100%;
    }
    
    article figcaption {
        font-size:50%;
        font-weight:700;
        color:#405159;
        text-align:center
    }

    #home {
	background-image: url('images/splash.jpg');
        min-height:768px;
        height:768px;
        margin:0 auto;
        background-size:100%;
        width:100%;
        max-width:1920px;
        position:relative
    }

    
    /******************************************/
    /******************My Team*****************/
    /******************************************/
    
    .person {
        width: 44%;
	margin-left: 3%;
	margin-right: 3%;
    }

    .school {
        margin:0 auto;
        width:90%
    }

    /******************************************/
    /****************What We Do****************/
    /******************************************/
    .corps_1, .corps_2{
        width:100%;
    }
    
    .grouping5 h1 {
        font-size: 260%;
    }
   
    /******************************************/
    /******************Process*****************/
    /******************************************/
    
    .grouping2 h1 {
        font-size: 350%;
    }
    
    .layer1, .layer2 {
        width:auto;
        margin: 0 auto;
    }
    
    .plus {
        margin-top: 0%;
        width: 100%;
    }
    
    .plus2 {
        display:block;
        color:#fffd88;
        font-size:340%;
        font-weight:700;
        float:left;
        width:100%;
        text-align:center;
        margin-top:5%
    }
    
    .plusle {
        width:100%!important;
        margin-top:5%!important
    }
    
    .stepper {
        width:100%!important
    }
    
    .steps_3 {
        width:100%;
    }
    
    .steps_3 figure {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        float:left
    }

    /******************************************/
    /***************Contact Us*****************/
    /******************************************/
    .categories {
        width:100%;
        font-size: 150%!important;
    }

    .form_submitter {
        width: 40%;
        float:left;
        margin:0 auto;
        margin-left: 60%;
    }
    
    .form_sub {
        width:100%;
        height: 70px; 
        color:#405159;
        margin-top: 10%;
        margin-left:auto;
        margin-right:auto;
        font-size:170%;
    }
    
    .info_split {
        width: 100%;
        float:left;
	padding-top: 5%;
    }
    
    .info_splitters_c {
        padding:0!important;
        float:right!important
    }
    
    .real {
        height:55px;
        width: 100%;
    }
    
    .real li {
        font-size: 120%;
        width:100%;
        text-align:center
    }
    
    .real2 {
        width:100%;
    }
    
    .real2 li {
        padding:2%;
        padding-left:5%;
        padding-right:5%;
        font-size:120%;
        width: 100%;
}

    .li_textarea{
        width: 96%
    }
    
    /******************************************/
    /***************Email Monkey***************/
    /******************************************/
    .emails {
        width:100%;
        float:left
    }
    
    .emails input {
        background-color:#fffd88;
        padding:5px;
        padding-left:10px;
        border:solid 5px #fffd88;
        color:#405159;
        font-weight:700
    }
    
    .emails_button {
        width:100%;
        float:left
    }
    
    .email_sub {
        width:100%;
        border:solid 5px #CFF0FF;
        background-color:#CFF0FF;
        color:#405159;
        padding:6px;
        font-weight:700
    }
    
    .emails_space {
        width:10%;
        float:left;
        color:#405159
    }
    
    .news {
        width: 70%;
        margin:0 auto
    }
    
    .mail_monkey {
        margin:0 auto;
        width:100%;
        background-color:#405159
    }
    
    .mail_monkey h1 {
        text-align:center;
        font-weight:700;
        font-size:200%;
        color:#CFF0FF;
        margin:0
    }

    /******************************************/
    /****************The Footer****************/
    /******************************************/

    .social_space {
        width: 100%;
        margin:0 auto
    }
}


/**********************************************************************/
/**********************************************************************/
@media only screen and (min-width: 533px) and (max-width: 699px){/*****/
   
    /******************************************/
    /*************Parallax Section*************/
    /******************************************/
    
    article figure {
        display:block;
        margin:0 auto;
            background-color: #8ce7ef;
            width: 100%;
            float: left;
            height: 768px;
            padding-top:160px;
    }
    
    article figcaption {
        font-size:50%;
        font-weight:700;
        color:#405159;
        text-align:center
    }
    
    article iframe {
        display:none
    }
    
    article img {
        width: 60%;}

    article iframe {
        width: 400px!important;
        height: 289px!important;
        margin-top: 223px;
    }

    .bridge,.bridge img {
        display: none;
    }
    
    .gif_1,.gif_2 {
        float:left
    }
    
    .gif_1 img,.gif_2 img {
        display: none;
    }

    .iframers{
        width: 0px;
    }

    #home {
        min-height:768px;
        height:768px;
        margin:0 auto;
        background-size:100% 100%;
        width:100%;
        max-width:1920px;
        position:relative
    }
    
    #home article {
        position:absolute;
        text-align:center;
        color:#fff;
        font-weight:700;
        font-size:50px;
        width:100%;
        margin-top:0px
    }

    /******************************************/
    /******************My Team*****************/
    /******************************************/
    
    .person {
        width:34%;
        margin-left:10%;
        margin-right:2%
    }
    
    .school {
        margin:0 auto;
        width:90%
    }

    /******************************************/
    /****************What We Do****************/
    /******************************************/
    .corps_1, .corps_2{
        width:100%;
    }

    .corps_1{
        /* padding-bottom: 100px; */
    }

    .grouping5 h1 {
        font-size:300%;
    }

    /******************************************/
    /*****************Process******************/
    /******************************************/

    .grouping2 h1 {
        font-size:400%;
    }
    
    .layer1, .layer2 {
        width:auto;
        margin: 0 auto;
    }
    
    .plus {
        width: 100%;
    }
    
    .plus2 {
        display:block;
        color:#fffd88;
        font-size:340%;
        font-weight:700;
        float:left;
        width:100%;
        text-align:center;
        margin-top:5%
    }
    
    .plusle {
        width:100%!important;
        margin-top:5%!important
    }
    
    .stepper {
        width:100%!important
    }
    
    .steps_3 {
        /* margin-left:10%; */
        width: 100%;
    }
    
    .steps_3 figure {
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
        float:left
    }
    
    /******************************************/
    /****************Contact Us****************/
    /******************************************/
    .categories {
        width:100%;
        font-size:100%!important;
    }
    
    .form_submitter {
        width: 50%;
        float:left;
        margin:0 auto;
        /* padding-top: 16%; */
    }
    
    .form_sub {
        width: 50%;
        height: 75px;
        color:#405159;
        /* margin:10%; */
        margin-left: 25%;
        margin-right: 25%;
        font-size:170%;
    }
    
    .info_split {
        width: 50%;
        float:left;
        padding-top: 3%;
        padding-bottom: 5%;
    }
    
    .info_splitters_c {
        padding:0!important;
        float:right!important
    }
    
    .real {
        height:55px;
    }
    
    .real li {
        font-size:100%;
        width:100%;
        text-align:center
    }
    
    .real2 {
        width:100%;
    }
    
    .real2 li {
        padding:2%;
        padding-left:5%;
        padding-right:5%;
        font-size:120%
    }

    .li_textarea{
        width: 96%
    }

    /******************************************/
    /***************Email Monkey***************/
    /******************************************/
    .emails {
        width:100%;
        float:left
    }
    
    .emails input {
        background-color:#fffd88;
        padding:5px;
        padding-left:10px;
        border: solid 5px #fffd88;
        color:#405159;
        font-weight:700
    }
    
    .emails_button {
        width:100%;
        float:left
    }
    
    .email_sub {
        width:100%;
        border:solid 5px #CFF0FF;
        background-color: #CFF0FF;
        color:#405159;
        padding:6px;
        font-weight:700
    }
    
    .emails_space {
        width:10%;
        float:left;
        color:#405159
    }
    
    .news {
        width:55%;
        margin:0 auto
    }
    
    .mail_monkey {
        margin:0 auto;
        width:100%;
        background-color:#405159
    }
    
    .mail_monkey h1 {
        text-align:center;
        font-weight:700;
        font-size:200%;
        color:#CFF0FF;
        margin:0
    }

    /******************************************/
    /****************The Footer****************/
    /******************************************/

    .social_space {
        width:100%;
        margin:0 auto
    }
}

/**********************************************************************/
/**********************************************************************/
@media only screen and (min-width: 700px) and (max-width: 800px){/*****/
   
    /******************************************/
    /*************Parallax Section*************/
    /******************************************/
    
    article figure {
        display:block;
        margin:0 auto;
            background-color: #8ce7ef;
            width: 100%;
            float: left;
            height: 768px;
            padding-top:160px;
    }
    
    article figcaption {
        font-size:50%;
        font-weight:700;
        color:#405159;
        text-align:center
    }
    
    article iframe {
        display:none
    }
    
    article img {
        width: 50%;}

    article iframe {
        width: 400px!important;
        height: 289px!important;
        margin-top: 223px;
    }

    .bridge,.bridge img {
        display: none;
    }
    
    .gif_1,.gif_2 {
        float:left
    }
    
    .gif_1 img,.gif_2 img {
        display: none;
    }

    .iframers{
        width: 0px;
    }

    #home {
        min-height:768px;
        height:768px;
        margin:0 auto;
        background-size:100% 100%;
        width:100%;
        max-width:1920px;
        position:relative
    }
    
    #home article {
        position:absolute;
        text-align:center;
        color:#fff;
        font-weight:700;
        font-size:50px;
        width:100%;
        margin-top:0px
    }

    /******************************************/
    /******************My Team*****************/
    /******************************************/
    
    .person {
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;}
    
    .school {
        margin:0 auto;
        width: 70%;}

    /******************************************/
    /****************What We Do****************/
    /******************************************/
    .corps_1, .corps_2{
        width:100%;
    }

    .corps_1{
        /* padding-bottom: 100px; */
    }

    .grouping5 h1 {
        font-size:300%;
    }

    /******************************************/
    /*****************Process******************/
    /******************************************/

    .grouping2 h1 {
        font-size:400%;
    }
    
    .layer1, .layer2 {
        width:auto;
        margin: 0 auto;
    }
    
    .plus {
        width: 100%;
    }
    
    .plus2 {
        display:block;
        color:#fffd88;
        font-size:340%;
        font-weight:700;
        float:left;
        width:100%;
        text-align:center;
        margin-top:5%
    }
    
    .plusle {
        width:100%!important;
        margin-top:5%!important
    }
    
    .stepper {
        width:100%!important
    }
    
    .steps_3 {
        /* margin-left:10%; */
        width: 100%;
    }
    
    .steps_3 figure {
        width: 24%;
        margin-left: 38%;
        margin-right: 38%;
        float:left
    }
    
    /******************************************/
    /****************Contact Us****************/
    /******************************************/
    .categories {
        width:100%;
        font-size:100%!important;
    }
    
    .form_submitter {
        width: 50%;
        float:left;
        margin:0 auto;
        /* padding-top: 16%; */
    }
    
    .form_sub {
        width: 50%;
        height: 75px;
        color:#405159;
        /* margin:10%; */
        margin-left: 25%;
        margin-right: 25%;
        font-size:170%;
    }
    
    .info_split {
        width: 50%;
        float:left;
        padding-top: 3%;
        padding-bottom: 5%;
    }
    
    .info_splitters_c {
        padding:0!important;
        float:right!important
    }
    
    .real {
        height:55px;
    }
    
    .real li {
        font-size:100%;
        width:100%;
        text-align:center
    }
    
    .real2 {
        width:100%;
    }
    
    .real2 li {
        padding:2%;
        padding-left:5%;
        padding-right:5%;
        font-size:120%
    }

    .li_textarea{
        width: 96%
    }

    /******************************************/
    /***************Email Monkey***************/
    /******************************************/
    .emails {
        width:100%;
        float:left
    }
    
    .emails input {
        background-color:#fffd88;
        padding:5px;
        padding-left:10px;
        border: solid 5px #fffd88;
        color:#405159;
        font-weight:700
    }
    
    .emails_button {
        width:100%;
        float:left
    }
    
    .email_sub {
        width:100%;
        border:solid 5px #CFF0FF;
        background-color: #CFF0FF;
        color:#405159;
        padding:6px;
        font-weight:700
    }
    
    .emails_space {
        width:10%;
        float:left;
        color:#405159
    }
    
    .news {
        width:55%;
        margin:0 auto
    }
    
    .mail_monkey {
        margin:0 auto;
        width:100%;
        background-color:#405159
    }
    
    .mail_monkey h1 {
        text-align:center;
        font-weight:700;
        font-size:200%;
        color:#CFF0FF;
        margin:0
    }

    /******************************************/
    /****************The Footer****************/
    /******************************************/

    .social_space {
        width: 70%;
        margin:0 auto
    }
}